In [1]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
import re
import numpy as np

%matplotlib inline

import os

In [3]:
Data_root = 'Data'
Data_name = 'bot_net.csv'

Path_to_Data = os.path.join(Data_root, Data_name)

In [16]:
df = pd.DataFrame.from_csv(Path_to_Data)
df.columns = ['Date', 'Local_IP', 'ASN']
df.head()

            Date  Local_IP  ASN
date
2006-07-01     0       701    1
2006-07-01     0       714    1
2006-07-01     0      1239    1
2006-07-01     0      1680    1
2006-07-01     0      2514    1

In [17]:
df.describe()

               Date      Local_IP            ASN
count  20803.000000  20803.000000   20803.000000
mean       4.228236  12138.320338      93.914243
std        3.278183   9766.324252    5764.995269
min        0.000000      3.000000       1.000000
25%        1.000000   4323.000000       1.000000
50%        4.000000   8764.000000       2.000000
75%        7.000000  17676.000000       8.000000
max        9.000000  40092.000000  784234.000000

In [18]:
df.isnull().any()

Date        False
Local_IP    False
ASN         False
dtype: bool

            Date  Local_IP  ASN
date
2006-07-01     0       701    1
2006-07-01     0       714    1
2006-07-01     0      1239    1
2006-07-01     0      1680    1
2006-07-01     0      2514    1